//Flex Properties//
@mixin flex ($display, $flexdirection, $alignitems, $justifycontent) {
    display: $display;
    flex-direction: $flexdirection;
    align-items: $alignitems;
    justify-content: $justifycontent;
}

//Text Styles//
@mixin page {

    font-size: 60px;
    font-weight: 700;
}

@mixin section {
    font-size: 36px;
    font-weight: 700;
}

@mixin subheader {
    font-size: 24px;
    font-weight: 600;
}

@mixin content {
    font-size: 14px;
    font-weight: 400;
}

@mixin buttons {
    font-size: 12px;
    font-weight: 700;
}

//Title Styles//
@mixin title-mobile {
    font-size: 36px;
    font-weight: 600;
    
    margin-top: 1.25rem;
    margin-left: 1rem;
}

@mixin title-tablet {
    font-size: 36px;
    font-weight: 600;

    margin-left: 2rem;

    
}

@mixin title-desktop {
    font-size: 36px;
    font-weight: 600;

    margin-bottom: 2rem;
}

//Image Style//

@mixin opacity {
    color: red;
}

@mixin greyscale {
    background-color: rgba($color: #323232, $alpha: 0.4);
}

//Navbar Styles//

@mixin active {
    a:link, a:visited {
        text-decoration: none;
        color: $white;
    }
    a:hover, a:active {
        color: $white;
    }
}

//Hero Mixins

@mixin heroimage ($url, $size, $position) {
    background-image: $url;
    background-size: $size;
    background-position: $position;
}

@mixin backgroundfilter {
    height: 100%;
    width: 100%;
    aspect-ratio: 16/9;
}