//Breakpoint Variables//
$tabletbreakpoint: 768px;
$desktopbreakpoint: 1280px;

//Color Variables//
$bandsite-black: #323232;
$silver:#afafaf;
$white: #ffffff;
$alabaster: #fafafa;
$mercury: #e1e1e1;

