//Breakpoint Variables//
$tabletbreakpoint: 768px;
$desktopbreakpoint: 1280px;

//Color Variables//
$bandsite-black: #323232;
$bandsite-DarkBlack: #000000;
$silver:#afafaf;
$white: #ffffff;
$alabaster: #fafafa;
$mercury: #e1e1e1;

//Fonts
$font-main:'AvenirNextRegular';
$font-bold:'AvenirNextBold';
$font-demi:'AvenirNextDemi';



