@media screen and (min-width: 720px) {
    .navbar {
        flex-direction: row;
        justify-content: start;
        
        &__title {
            margin-left: 3rem;
        }

        &__links {
         margin: 5rem;
        }
    }

    .hero {


        &__title {
            font-size: 36px;
            font-weight: 700;
        } 
    
    }

    .photo-gallery {
        flex-wrap: wrap;

        flex-direction: row;
        justify-content: center;
        align-items: center;

        &__image {
            width: 25%;
        }
 
    }

    .contact {
        
    }
}
