@media screen and (min-width: 720px) {
    .navbar {
        flex-direction: row;
        justify-content: start;
        
        &__title {
            margin-left: 3rem;
        }

        &__links {
         margin: 5rem;
        }
    }

    .hero {

        &__background {
            height: 25rem;

        }


        &__title {
            font-size: 60px;
            font-weight: 600;
        } 
    
    }

    .about-musician {
        &__image {
            justify-self: center;
        }

        &__quote {
            font-size: 32px;
        }

        &__container {
            display: flex;
            
        }
    }

    .photo-gallery {
        flex-wrap: wrap;

        flex-direction: row;
        justify-content: center;
        align-items: center;

        &__image {
            width: 25%;
        }
 
    }

    .contact {
        
    }
}
