//Flex Properties//
@mixin flexcolumn {
    display: flex;
    flex-direction: column;
}

@mixin flexrow {
    display: flex;
    flex-direction: row;
    
}

@mixin flexcenter {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

//BANDSITE Styles//
@mixin watermark {
    
    color: $fontcolour1;
    font-weight: 300;
    
}

//Text Styles//
@mixin page {

    font-size: 60px;
    font-weight: 700;
}

@mixin section {
    font-size: 36px;
    font-weight: 700;
}

@mixin subheader {
    font-size: 24px;
    font-weight: 600;
}

@mixin content {
    font-size: 14px;
    font-weight: 400;
}

@mixin buttons {
    font-size: 12px;
    font-weight: 700;
}