* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Avenir Next;
}

.navbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  background-color: #323232;
  height: 5rem;
}
.navbar__title {
  color: #FFFFFF;
  font-weight: 300;
}
.navbar__links {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
}
.navbar__links-content {
  text-decoration: none;
  color: #FFFFFF;
  list-style: none;
}
.navbar__links-content.active {
  border-bottom: 3px solid white;
  padding: 2px;
}
@media screen and (min-width: 768px) {
  .navbar {
    flex-direction: row;
    justify-content: start;
  }
  .navbar__title {
    margin-left: 3rem;
  }
  .navbar__links {
    margin: 5rem;
  }
}

.hero {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-image: url("../Assets/Images/hero-bio.jpg");
  background-size: cover;
  background-position: center;
}
.hero__background {
  height: 200px;
  width: 100%;
  background-color: rgba(50, 50, 50, 0.5);
}
.hero__title {
  position: absolute;
  margin-left: 1rem;
  font-weight: 500;
  color: #FFFFFF;
  opacity: 100%;
}
@media screen and (min-width: 768px) {
  .hero__background {
    height: 25rem;
  }
  .hero__title {
    font-size: 60px;
    font-weight: 600;
  }
}

.about-musician {
  display: flex;
  flex-direction: column;
}
.about-musician__title {
  margin-top: 1.25rem;
  margin-left: 1rem;
  font-size: 25px;
  font-weight: 600;
}
.about-musician__image {
  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  background-size: cover;
  background-position: center;
}
.about-musician__quote {
  margin-top: 0.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
  font-size: 14px;
  font-weight: 600;
}
.about-musician__content {
  margin: 0.5rem 1rem;
}
.about-musician__content-title {
  margin: 1rem;
}
@media screen and (min-width: 768px) {
  .about-musician__image {
    align-self: center;
    width: 70%;
    aspect-ratio: 16/9;
  }
  .about-musician__quote {
    margin: 2rem;
    font-size: 24px;
  }
  .about-musician__container {
    display: flex;
    margin: 2rem 4rem;
  }
}

.photo-gallery {
  display: flex;
  flex-direction: column;
  align-items: space-around;
  background-color: #e1e1e1;
}
.photo-gallery__image {
  margin: 0 16px;
  padding: 16px 0;
}
@media screen and (min-width: 768px) {
  .photo-gallery {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .photo-gallery__image {
    width: 25%;
  }
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  background-color: #323232;
  color: #FFFFFF;
}
.contact__title {
  margin: 16px;
  font-size: 32px;
}
.contact__social {
  display: flex;
  gap: 2rem;
  margin: 0 16px;
}
.contact__info-title {
  margin: 16px;
  font-weight: 400;
}
.contact__info-content {
  margin: 16px;
  font-size: 13px;
  font-weight: 300;
}
@media screen and (min-width: 768px) {
  .contact {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 2rem;
  }
  .contact__social-watermark2 {
    padding: 10rem;
  }
  .contact__info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
  }
  .contact__info-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: baseline;
  }
  .contact__info-title {
    margin: 0;
    font-size: 14px;
    font-weight: 600;
  }
}/*# sourceMappingURL=bio.css.map */