* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Avenir Next;
  color: #323232;
}

.navbar {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: #323232;
  max-width: 100%;
  margin: 0 auto;
}
.navbar__bandsite {
  text-align: center;
  padding-top: 1rem;
}
.navbar__title {
  color: #ffffff;
  font-weight: 300;
}
.navbar__links {
  display: flex;
  justify-content: space-between;
}
.navbar__links-content {
  text-decoration: none;
  color: #ffffff;
  list-style: none;
  width: 100%;
  margin: 0 auto;
  border-bottom: 2px solid transparent;
}
.navbar__links-content:hover, .navbar__links-content--active {
  color: red;
  border-bottom: 2px solid #ffffff;
}
.navbar__links-content a:link, .navbar__links-content a:visited {
  text-decoration: none;
  color: #ffffff;
}
.navbar__links-content a:hover, .navbar__links-content a:active {
  color: #ffffff;
}
@media screen and (max-width: 767px) {
  .navbar__links-content {
    width: 50%;
    text-align: center;
    padding: 0.5rem 0;
  }
}
.navbar__links--inactive {
  color: #e1e1e1;
}
@media screen and (min-width: 768px) {
  .navbar {
    flex-direction: row;
    justify-content: start;
    padding-top: 2rem;
    gap: 3rem;
  }
  .navbar__logo {
    margin-left: 3rem;
  }
  .navbar__links {
    margin-left: 2rem;
    gap: 3rem;
  }
  .navbar__bandsite {
    padding-top: 0rem;
  }
  .navbar__links-content--active {
    padding-bottom: 1.5rem;
  }
}

.hero {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-image: url("../Assets/Images/hero-bio.jpg");
  background-size: cover;
  background-position: center;
  max-width: 100%;
}
.hero__background {
  height: 100%;
  width: 100%;
  aspect-ratio: 16/9;
  background-color: rgba(50, 50, 50, 0.4);
}
.hero__title {
  position: absolute;
  margin-left: 1rem;
  font-weight: 500;
  color: #ffffff;
  opacity: 100%;
}
@media screen and (min-width: 768px) {
  .hero__background {
    height: 100%;
    aspect-ratio: 16/9;
  }
  .hero__title {
    font-size: 60px;
    font-weight: 600;
  }
}
@media screen and (min-width: 1280px) {
  .hero__title {
    margin-left: 6rem;
  }
}

.about-musician {
  display: flex;
  flex-direction: column;
}
.about-musician__title {
  font-size: 36px;
  font-weight: 600;
  margin-top: 1.25rem;
  margin-left: 1rem;
}
.about-musician__image {
  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  background-size: cover;
  background-position: center;
}
.about-musician__quote {
  margin-top: 0.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
  font-size: 14px;
  font-weight: 500;
}
.about-musician__quote2 {
  margin-top: 1rem;
  margin-left: 1rem;
  font-size: 14px;
  font-weight: 600;
}
.about-musician__content {
  margin: 0.5rem 1rem;
}
.about-musician__content-title {
  margin: 1rem;
  font-size: 24px;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .about-musician__title {
    font-size: 36px;
    font-weight: 600;
    margin-left: 2rem;
    margin-bottom: 1.5rem;
    margin-top: 2rem;
  }
  .about-musician__image {
    margin-top: 0;
    align-self: center;
    width: 80%;
    aspect-ratio: 16/9;
  }
  .about-musician__quote {
    margin-top: 2rem;
    margin-left: 5rem;
    margin-right: 5rem;
    font-size: 24px;
  }
  .about-musician__quote2 {
    margin-left: 5rem;
    margin-bottom: 3rem;
  }
  .about-musician__content {
    margin: 0rem 1rem;
    margin-bottom: 2rem;
  }
  .about-musician__container {
    display: flex;
    margin: 0 4rem;
  }
  .about-musician__content-title {
    margin: 0;
    margin-bottom: 1rem;
    margin-left: 5rem;
  }
}
@media screen and (min-width: 1280px) {
  .about-musician {
    display: flex;
  }
  .about-musician__title {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 2rem;
    margin-left: 8rem;
  }
  .about-musician__image {
    width: 70%;
  }
  .about-musician__quote {
    width: 50%;
    margin-left: 12rem;
  }
  .about-musician__quote2 {
    margin-left: 12rem;
  }
  .about-musician__content-title {
    margin-left: 12rem;
  }
  .about-musician__container {
    width: 75%;
    margin: 0 11rem;
  }
}

.photo-gallery {
  display: flex;
  flex-direction: column;
  align-items: space-around;
  background-color: #e1e1e1;
}
.photo-gallery__title {
  font-size: 36px;
  font-weight: 600;
  margin-top: 1.25rem;
  margin-left: 1rem;
  margin-top: 3rem;
}
.photo-gallery__container {
  display: flex;
  flex-direction: column;
}
.photo-gallery__image {
  margin: 1rem 1rem;
  transition: all 0.8s;
  filter: grayscale(100%);
}
.photo-gallery__image:hover {
  filter: none;
}
@media screen and (min-width: 768px) {
  .photo-gallery {
    flex-wrap: wrap;
    flex-direction: row;
  }
  .photo-gallery__title {
    font-size: 36px;
    font-weight: 600;
    margin-left: 2rem;
  }
  .photo-gallery__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.5rem;
  }
  .photo-gallery__image {
    width: 27%;
  }
}
@media screen and (min-width: 1280px) {
  .photo-gallery__title {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 2rem;
    margin-left: 6rem;
  }
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  background-color: #323232;
  color: #FFFFFF;
}
.contact__title {
  margin: 1rem;
  font-size: 32px;
  font-weight: 500;
  color: #ffffff;
}
.contact__social-watermark-bottom {
  margin-top: 4rem;
  margin-left: 1rem;
}
.contact__social-watermark-top {
  display: none;
}
.contact__social {
  display: flex;
  gap: 2rem;
  margin: 0 1rem;
}
.contact__info-title {
  margin: 1rem;
  font-weight: 400;
  color: #ffffff;
}
.contact__info-content {
  margin: 1rem;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  color: #FFFFFF;
}
@media screen and (min-width: 768px) {
  .contact {
    display: flex;
    flex-wrap: wrap;
    padding-left: 2rem;
  }
  .contact__top {
    display: flex;
    align-items: center;
    width: 100%;
  }
  .contact__title {
    margin: 2rem 1rem;
  }
  .contact__social-watermark-bottom {
    display: none;
  }
  .contact__social-watermark-top {
    display: flex;
    justify-content: flex-end;
    width: 45%;
  }
  .contact__info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
  }
  .contact__info-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: baseline;
  }
  .contact__info-title {
    margin: 0;
    font-size: 14px;
    font-weight: 600;
  }
}
@media screen and (min-width: 1280px) {
  .contact {
    padding-left: 4rem;
  }
  .contact__social-watermark-top {
    width: 60%;
  }
  .contact__copyright {
    margin: 2rem 0;
  }
}/*# sourceMappingURL=bio.css.map */