@import "partials/mixins"; 
@import "partials/variables.scss";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    font-family: Avenir Next;
}


.navbar {
    @include flexcolumn;

    justify-content: space-evenly;
    align-items: center;
    

    background-color: $bandsite-black;
    height: 5rem;
    max-width: 100%;
    margin: 0 auto;

    &__title  {
        color: $white;
        font-weight: 300;
    }

    &__links {
        display: flex;
        justify-content: space-between;
        gap: 3rem;

            &:hover {
                @include opacity;
            }

        
    }
   
    &__links-content {
        text-decoration: none;
        color: $white;
        list-style: none;

    }

    &__links-content-active {

        border-bottom: solid white;
    }


    @media screen and (min-width: $tabletbreakpoint) {
            flex-direction: row;
            justify-content: start;
            
            &__logo {
                margin-left: 3rem;
            }
    
            &__links {
             margin: 5rem;
            }
    }
    
}    

.hero {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    background-image: url("../Assets/Images/hero-bio.jpg");
    background-size: cover;
    background-position: center;

    max-width: 100%;

    
  

    &__background {
        height: 100%;
        width: 100%;
        aspect-ratio: 16/9;

        background-color: rgba($color: #323232, $alpha: 0.4);
    }

        

    &__title {
        position: absolute;
        margin-left: 1rem;

        font-weight: 500;
        color: $white;
        opacity: 100%;
    }

    @media screen and (min-width: $tabletbreakpoint) {
       
        &__background {
            height: 100%;
            aspect-ratio: 16/9;

        }

        &__title {
            font-size: 60px;
            font-weight: 600;
        } 
    
    }

    @media screen and (min-width:$desktopbreakpoint) {

        &__title {

            margin-left: 6rem;
        }
    }
}

.about-musician {
    @include flexcolumn;

    &__title {
       @include title-mobile
    }

    &__image {
        margin-top: 1rem;
        margin-left: 1rem;
        margin-right: 1rem;
        background-size: cover;
        background-position: center;
    }

    &__quote {
        margin-top: 0.5rem;
        margin-left: 1rem;
        margin-right: 1rem;

        font-size: 14px;
        font-weight: 500;
    }

    &__quote2 {
        margin-top: 1rem;
        margin-left: 1rem;

        font-size: 14px;
        font-weight: 600;
        
    }

    &__content {
        margin: 0.5rem 1rem;
    }

    &__content-title {
        margin: 1rem;

        font-size: 24px;
        font-weight: 600;
    }

    @media screen and (min-width: $tabletbreakpoint) {
        &__title {
            @include title-tablet;
            margin-bottom: 1.5rem;
            margin-top: 2rem;
        }

        &__image {
            margin-top: 0;

            align-self: center;
            width: 80%;
            aspect-ratio: 16/9;
        }

        &__quote {
            margin-top: 2rem;
            margin-left: 5rem;
            margin-right: 5rem;

            font-size: 24px;

        }

        &__quote2 {
            margin-left: 5rem;
            margin-bottom: 3rem;
        }

        &__content{
            margin: 0rem 1rem;
            margin-bottom: 2rem;
        }

        &__container {
            display: flex;
            
            margin: 0 4rem;
        }

        &__content-title {
            margin: 0;
            margin-bottom: 1rem;
            margin-left: 5rem;

        }
    }

    @media screen and (min-width:$desktopbreakpoint) {
        display: flex;

        &__title {
            @include title-desktop;

            margin-left: 8rem;
        }

        &__image {
            width: 70%;
        }

        &__quote {
            width: 50%;
            margin-left: 12rem;
        }

        &__quote2 {
            margin-left: 12rem;
        }

        &__content-title {
            margin-left: 12rem;
        }

        &__container {
            width: 75%;
            margin: 0 11rem;
        }
    }

}

.photo-gallery {
    display: flex;
    flex-direction: column;
    align-items: space-around;

    background-color: #e1e1e1;

    &__title {
         @include title-mobile;
         margin-top: 3rem;
    }

    &__container {
        display: flex;
        flex-direction: column;
        
    }

    &__image {
        margin: 1rem 1rem;

        &__image:hover {
            @include opacity
        }
    }

    @media screen and (min-width: $tabletbreakpoint) {
    
        flex-wrap: wrap;
        flex-direction: row;

        &__title {
            @include title-tablet
        }
        

        &__container {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;

            margin-bottom: 1.5rem;
            
        }

        &__image {
            width: 27%;
        }
    }

    @media screen and (min-width:$desktopbreakpoint) {

        &__title {
            @include title-desktop;
            margin-left: 6rem;
        }
        
    }
}

.contact {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;


    background-color: #323232;
    color: #FFFFFF;

    &__title {
        margin: 1rem;

        font-size: 32px;

        
    }

    &__social-watermark-bottom {
        margin-top: 4rem;
        margin-left: 1rem;
    }

    &__social-watermark-top {
        display: none;
    }
   

    &__social {
        display: flex;
        gap: 2rem;

        margin: 0 1rem;
    }

    &__info-title {
        margin: 1rem;

        font-weight: 400;
    }

    &__info-content {
        margin: 1rem;

        font-size: 14px;
        font-weight: 400;
    }

    @media screen and (min-width: $tabletbreakpoint) {
        display: flex;
        flex-wrap: wrap;
        
        padding-left: 2rem;

        &__top {
            display: flex;
            align-items: center;

            width: 100%;
        }

        &__title {
            margin: 2rem 1rem;
        }

        &__social-watermark-bottom {
            display: none;
        }

        &__social-watermark-top {
            display: flex;
            justify-content: flex-end;
            width: 45%;
            
        }
       

        &__info {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 2rem;
        }

        &__info-container {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            align-items: baseline;
            

        }

        &__info-title {
            margin: 0;

            font-size: 14px;
            font-weight: 600;
        }

        
    }

    @media screen and (min-width:$desktopbreakpoint) {

        padding-left: 4rem;

        &__social-watermark-top {

            width: 60%;

        }

        &__copyright {

            margin: 2rem 0;
        }
        
    }

}



